.row.adjust-margin-top .form-group {
	margin-top:0px;
	padding-top:0px;
}

.row.adjust-margin-top .form-group {
	padding-bottom:10px;
}

.col-sp {
    column-span: all;
}

.button-col {
    float: left;
    width: 3.5%;
}

.col-3 {
    float: left;
    width: 31%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.head4 {
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
    font-size:14px;
    margin-bottom: -20px;
}

.head2 {
    font-family: "Brush Script MT";
    font-size: 35px;
    margin-bottom: 60px;
}

span {
    background-color: #ffffff56;
    border-radius: 18px;
    padding: 8px;
}

.tm-text {
    background-color: rgb(255, 255, 255); /* Fallback color */
    border-radius: 15px;
    
    box-shadow: 8px 11px 10px -10px rgba(0, 0, 0, 0.6);
    color: black;

    width: 70%;
    padding: 30px;
    text-align: left;

}

.rounded-circle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -75px;
    margin-bottom: -75px;
}

.name {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size:18px;
    text-align: center;
}

.city {
    margin-top: 0px;
    margin-bottom: -10px;
    font-size:15px;
    text-align: center;
    color: rgb(80, 80, 80);
}



/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: 0px;
  padding: 16px;
  color: #bbb;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 1px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.001px;
  width: 0.001px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}
